{% extends 'basegame.html' %} {% block content %}

<header class="masthead text-white text-center" style="padding-top: 3rem;
    padding-bottom: 3rem;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Welcome's to HT's Blackjack!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <h2>Welcome {{ username }} </h2>
            </div>
        </div>

    </div>
</header>

{% endblock %} {% block section %}

<div class="row">
    <div class="col-lg-6">
        <h3>Player's Hand</h3>
        <hr>
        <br>
        <div class="cardhands">
            {% for card in playerhand %}
            <img src="{{ card }}" alt="playing card"> {% endfor %}
        </div>
        <div>
            <br>
            <p><strong>Player's Score: &nbsp  {{ playerval }}</strong>
                <p>
        </div>
    </div>

    <div class="col-lg-6">

        <h3>Dealer's Hand</h3>
        <hr>
        <br>
        <div class="cardhands">
            {% for card in dealerhand %}
            <img src="{{ card }}" alt="playing card"> {% endfor %}
        </div>
        <div>
            <br>
            <p><strong>Dealer's Score: &nbsp</strong> {{ dealerval }} </p>

        </div>
    </div>



</div>

<div class=" text-center">
    <br>
    
    <p><h5>New Score: &nbsp {{ score }} <span>&nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp</span> {{ msg }}</h5></p>
    
    
</div>


<div>
    <p>
    
       <p> <br> {% if leaderbd_len < 4 %} <h5>Leader Board</h5></p>
    
                {% for i in range(leaderbd_len) %}
                <p> {{ leaderbd[i].name }} : &nbsp {{ leaderbd[i].score }}</p>
                {% endfor %} 
            
            {% else %}
           
                <h5>Leader Board</h5>
            
                    <p> <strong>
                            {% for  i in range(4) %}
                             {{ leaderbd[i].name  }} : &nbsp {{ leaderbd[i].score }} &nbsp / &nbsp
                            {% endfor %}
                            </strong></p>
            {% endif %}
            
    </p>
</div>

<div >
    
    <form method="POST">
        {{ form.csrf_token }}

        <br><br> {{ form.new_gm(class_="btn btn-lg btn-primary") }} &nbsp &nbsp &nbsp &nbsp {{ form.quit_gm(class_="btn btn-lg btn-primary") }}
        <!--<p> {{button}} </p>-->
    </form>
</div>
{% endblock %}
