{% extends 'basegame.html' %} {% block content %}

  <header class="masthead text-white text-center" style = "padding-top: 3rem;
    padding-bottom: 3rem;" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Welcome's to HT's Blackjack!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <h2>Welcome {{ username }} </h2>
            </div>
        </div>

    </div>
  </header>

        




{% endblock %} {% block section %}

<div class="row">
    <div class="col-lg-12">
        <h2>Player's Hand</h2>
        <br>
        <div class="cardhands">
            {% for card in playerhand %}
            <img src="{{ card }}" alt="playing card" > {% endfor %}
        </div>
        <div>
            <br>
            <p><strong>Player's Score: &nbsp  {{ playerval }}
            {% if odds != 0 %}
            &nbsp &nbsp &nbsp Odds to bust: {{ odds }}% </strong></p>
            {% endif %}
            <!--<p> deck size: {{ decksize }}</p>-->

            <form action="{{ url_for('user', username = username) }}" method="POST">
                {{ form.csrf_token }}
                <br> {{ form.hit(class_="btn  btn-lg btn-primary") }} &nbsp &nbsp &nbsp &nbsp {{ form.stay(class_="btn  btn-lg btn-primary") }}
                <!--<p> {{button}} </p>-->

            </form>

        </div>
    </div>
</div>

{% endblock %}
