{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome's to HT's Blackjack!</h1>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h2>Welcome {{ username }} </h2>
    </div>
</div>

{% endblock %} {% block section %}

<div class="row">
    <div class="col-lg-8">
        <h2>Player's Hand</h2>
        <br>
        <div class="cardhands">
            {% for card in playerhand %}
            <img src="{{ card }}" alt="playing card" style="height:225px"> {% endfor %}
        </div>
        <div>
            <br>
            <h3>Player's Score: <span>  </span> {{ playerval }}</h3>
            <p> deck size: {{ decksize }}</p>
            {% if odds != 0 %}
            <p>Odds to bust: {{ odds }}%</p>
            {% endif %}
            
            <form action="{{ url_for('user', username = username) }}" method="POST">
                {{ form.csrf_token }}

                <!--{{ form.name.label }} {{ form.name(size=20) }}-->
                <br><br> {{ form.hit }} {{ form.stay }}
                <!--<p> {{button}} </p>-->

            </form>

        </div>
    </div>
</div>

{% endblock %}
