{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome's to HT's Blackjack!</h1>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h2>Welcome {{ username }} </h2>
    </div>
</div>

{% endblock %} {% block section %}

<div class="row cardhands">
    <div class="col-lg-8">
        <h2>Player's Hand</h2>
        <br>
        {% for card in playerhand %}
            <img src= "{{ card }}" alt="playing card" >
        {% endfor %}
    </div>
</div>

{% endblock %}
